:is(h1, h2, h3, h4, h5)::first-letter { text-transform: uppercase } 

/* ASIDE */
.mpi-aside .aside__btn{display: flex;width: 100%;justify-content: center;padding: 20px;}
.mpi-aside .aside__contato h2,.mpi-aside .aside__menu h2 a{display:block;margin:0;padding:.75rem 1rem;color:#fff;font-size:1rem;border-radius:.25rem;background-color:var(--color-secundary);transition:.3s ease-out}
.mpi-aside .aside__menu h2 a:focus,.mpi-aside .aside__menu h2 a:hover{letter-spacing:.5px}
.mpi-aside .aside__menu nav{margin:.5rem 0}
.mpi-aside .aside__menu nav ul li a{display:block;padding:.5rem;color:var(--grey);font-size:.875rem;border-left:2px solid #ccc;margin:.5rem 0;transition:.3s ease-out}
.mpi-aside .aside__menu nav ul li a.active-menu-aside,.mpi-aside .aside__menu nav ul li a:focus,.mpi-aside .aside__menu nav ul li a:hover{color:var(--color-secundary);border-color:currentColor;background-color:var(--light)}
.mpi-aside .aside__menu nav ul li a.active-menu-aside{font-weight:700}
.mpi-aside .aside__contato{text-align:center}
.mpi-aside .aside__contato a{color:var(--dark);display:block;margin:10px;transition:.3s ease-out}
.mpi-aside .aside__contato a:focus,.mpi-aside .aside__contato a:hover{color:var(--color-secundary)}

/* SAIBA MAIS */
.more { margin-bottom: 20px; }
.more h2 strong { font-size: 16px; }

/* GALLERY */
p.alerta{font-weight:700}

.mpi-gallery { display: grid; grid-template-columns: repeat(auto-fill, minmax(145px, 1fr)); gap: 10px; }
.mpi-gallery li { border-radius: 3px; overflow: hidden; }
.mpi-gallery li a { display: block; width: 100%; height: 100%; position: relative; }
.mpi-gallery li a::before { content: "\f002"; font-family: "FontAwesome"; position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding-top: 20px; opacity: 0; transition: 0.3s; color: #FFF; font-size: 36px; display: flex; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); }
.mpi-gallery li:hover a::before { padding-top: 0; opacity: 1; }
.mpi-gallery li img { z-index: 2; width: 100%; aspect-ratio: 1/1; object-fit: cover; display: block; margin: 0 auto; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

/* PAGINAS RELACIONADAS */
.busca-relacionadas-mpi {width: 100%;padding: 10px 0;padding-top: 20px;margin-bottom: 0;display: flex;flex-direction: column;}
.busca-relacionadas-mpi a {clear: both;display: block;background: #eee;border-left: 3px solid #ccc;padding: 10px 20px;transition: all .3s linear;min-height: 85px;margin: 0 0 2px 0;overflow: hidden;display: flex;align-items: center;}
.busca-relacionadas-mpi a:hover { border-color: var(--dark);}
/* ORGANICTABS REGIOES */
.organictabs--regioes { margin: 10px 0; }
.organictabs--regioes .organictabs__menu { display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
.organictabs--regioes.brasil .organictabs__menu { grid-template-columns: repeat(auto-fit, minmax(35px, 1fr)); }
.organictabs--regioes .organictabs__menu span { width: 100%; height: 60px; display: flex; align-items: center; justify-content: center; background-color: #ccc; color: var(--dark); text-align: center; font-size: 14px; cursor: pointer; transition: 0.3s; }
.organictabs--regioes.brasil .organictabs__menu span { height: 40px; font-size: 10px; font-weight: bold; }
.organictabs--regioes .organictabs__menu span.active-tab { background-color: var(--dark); color: #fff; }
.organictabs--regioes .organictabs__content { padding: 20px; background-color: #eee; overflow: hidden; padding: 10px; }
.organictabs--regioes .organictabs__content ul { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 7px; }
.organictabs--regioes .organictabs__content ul li { height: auto; display: flex; align-items: center; justify-content: flex-start; font-size: 12px; padding: 5px 0; border-bottom: 1px solid #ccc; color: var(--dark); }

/* COPYRIGHT */
.copyright { font-size: 10px; color: #999; margin-bottom: 15px; }
.copyright a { font-size: 10px; color: #999; }